@media only screen and (min-width:500px){
  body{
    max-width: 899px;
    margin: auto;
    background-color: rgb(82, 1, 107);
  }
  main {
    display:grid;
    grid-template: 1fr/ 200px repeat(4, 190px);
  }

  div{
    height: 100px;
    line-height: 100px;
    overflow: hidden;
    grid-column: 1/ span 5;
  }
  div:nth-child(2){
    width: 1fr;
    height: 600px;
    line-height: 600px;
    grid-area: 2/ 1 / span 3 / span 1;
  

  }
  div:nth-child(3){
    width:1.9fr;
    height: 200px;
    line-height: 200px ;
    grid-column: 2/ span 2; 
  }
  div:nth-child(4){
    width:1.9fr;
    height: 200px;
    line-height: 200px ;
    grid-column: 4/ span 2; 
    grid-row: 1, 1;
  }
  
  div:nth-child(5){
    width: .8fr ;
    height: 250px;
    line-height: 250px;
    grid-column: 2/ span 1; 
  }
  div:nth-child(6){
    width: .8fr ;
    height: 250px;
    line-height: 250px;
    grid-column: 3/ span 1; 
  }
  div:nth-child(7){
    width: .8fr ;
    height: 250px;
    line-height: 250px;
    grid-column: 4/ span 1; 
  }
  div:nth-child(8) {
    width: .8fr ;
    height: 250px;
    line-height: 250px;
    grid-column: 5/ span 1; 
  }
  
  div:last-of-type {
    width: 3.8fr;
    height: 150px;
    line-height: 150px;
    grid-column: 2/ span 4;
  }

}