@media only screen and (min-width:500px){
  body{
    max-width: 899px;
    margin: auto;
    background-color: rgb(98, 0, 128);
  }
  section {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
  }

  div{
    height: 100px;
    line-height: 100px;
    overflow: hidden;

  }
  div:nth-child(2){
    width: 20%;
    height: 600px;
    line-height: 600px;
    

  }
  div:nth-child(3), div:nth-child(4){
    width:40%;
    height: 200px;
    line-height: 200px ;
    
  }
  
  article {
    width: 100% ;
    height: 250px;
    line-height: 250px;
  
  }
  
  div:last-of-type {
    width: 80%;
    height: 150px;
    line-height: 150px;
  }

}