@media only screen and (min-width:768px){
  body{
    max-width: 960px;
    margin: auto;
    background-color: rgb(98, 0, 128);
    
  }

  div{
    height: 100px;
    line-height: 100px;
    overflow: hidden;

  }
  div:nth-child(2){
    width: 200px;
    height: 600px;
    line-height: 600px;
    float: left;

  }
  div:nth-child(3), div:nth-child(4){
    width:380px;
    height: 200px;
    line-height: 200px ;
    float: left;
  }
  
  .box {
    width: 190px;
    height: 250px;
    line-height: 250px;
    float: left;
  }
  
  div:last-of-type {
    width: 760px;
    height: 150px;
    line-height: 150px;
    /* float: right; */
    clear: right;
  }

}