body {
  /* to center whole page, I referenced https://www.w3schools.com/howto/howto_css_center_website.asp */
  max-width: 480px;
  margin: auto;
  background-color: maroon;
}

div{
  border: 1px solid aliceblue;
  text-align: center;
  height: 75px;
  line-height: 75px;
}

div:nth-child(2){
  height: 150px;
  line-height: 150px;
}
div:nth-child(3), div:nth-child(4){
  height: 125px;
  line-height: 125px ;
}

.box {
  width: 240px;
  height: 250px;
  line-height: 250px;
  float: left;
  margin: auto;
}

div:last-of-type {
  height: 80px;
  line-height: 80px;
  clear: both; /* david dicken helped me sort this out */
}


@media only screen and (min-width:768px){
  body{
    max-width: 960px;
    margin: auto;
    background-color: navy;
  }

  div{
    height: 100px;
    line-height: 100px;
  }
  div:nth-child(2){
    width: 200px;
    height: 600px;
    float: left;
    line-height: 600px;

  }
  div:nth-child(3), div:nth-child(4){
    width:380px;
    height: 200px;
    line-height: 200px ;
    float: left;
  }
  
  /* .box {
    width: 240px;
    height: 250px;
    line-height: 250px;
    float: left;
    margin: auto;
  }
  
  div:last-of-type {
    height: 80px;
    line-height: 80px;
    clear: both; 
  } */

}